{% extends "base.html" %}

{% block content%}
<h1 class="header">Build a Blog - All Posts</h1>

    {% if posts|length == 0 %}
    <h3>No posts yet</h3>
    {% else %}


            {% for post in posts.items %}
            <div class="section">
            <h2>Blog Title: <a href="{{ url_for('allposts', id=post.id) }}">{{post.title}}</a></h2>
            <div class="container">
            <p>{{post.content|safe}}</p>
            </div>
            <small>Author: <a href="{{ url_for('allposts', user=post.owner.id )}}" class="author">{{ post.owner.username }}</a>
            | Posted on: {{ post.timestamp }}</small>
            </div>
            <hr />
            {% endfor %}



    {% endif %}


{% endblock %}