{% extends "base.html" %}

{% block content %}
    
            <h1>Blog Users</h1>

            {% if users|length == 0 %}
                <h3>No users yet</h3>
            {% else %}
            <div class="section">
                
                    {% for user in users %}
                        <h2>
                          <a href="{{ url_for('allposts', user=user.id )}}">{{ user.username }}</a>
                        </h2>
                    {% endfor %}
                
            {% endif %}

            </div>
    </main>
{% endblock %}