{% extends "base.html" %}

{% block content %}

<h1>Add a Blog Entry</h1>

<div class="container">
<form name="addForm" id="addForm" method="POST" action="/newpost">

    <div class="row">
        <div class="col-25">
        <label>Title for your new blog:</label>
        </div>
            <div class="col-75">
            <input type="text" name="title" id="title" required/>
            <span class="error">{{title_error}}</span>
            </div>       
    </div>

    <div class="row">
        <div class="col-25">
        <label>Your new blog:</label>
        </div>
            <div class="col-75">
            <textarea name="content" id="content" required></textarea>
            <span class="error">{{content_error}}</span>
            </div>   
    </div>

    <div class="row">
        <input type="submit" value="Submit Post">
    </div>
</form>

{% endblock %}