{% extends "base.html" %}

{% block content %}

<h1>Add a Blog Entry</h1>

<form name="addForm" id="addForm" method="POST" action="/addpost" novalidate>
        <label>Title for your new blog:
            <input type="text" name="title" id="title" required data-validation-required-message="Please enter a title."/>
        </label>
        <label>Your new blog:
            <input type="text" name="content" id="content" required data-validation-required-message="Please enter a message."/>
        </label>
        <!-- <input type="submit" value='Add Entry' /> -->
        <button type="submit" id="sendMessageButton">Send</button>
</form>

{% endblock %}