{% extends "base.html" %}

{% block content %}

            <h1>{{ user.username }}'s Blog Page</h1>

            {% if posts|length == 0 %}
                <h3>No posts yet</h3>
            {% else %}

            {% for post in posts %}
            <div class="section">
            <h2>Blog Title: <a href="{{ url_for('allposts', id=post.id) }}">{{post.title}}</a></h2>
            <div class="container">
            <p>{{post.content|safe}}</p>
            </div>
            <small>Posted on: {{ post.timestamp }}</small>
            </div>
            <hr />
            {% endfor %}
                

                    
            {% endif %}


{% endblock %}